apiVersion: apps/v1
kind: Deployment

metadata:
  name: notes-server
  namespace: notes-app

spec:
  selector:
    matchLabels:
      app: notes-server
  template:
    metadata:
      labels:
        app: notes-server
    spec:
      containers:
      - name: notes-server
        image: faizanqureshi1220/notes-server:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
          name: http

        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "250Mi"
            cpu: "500m"

        env: 
          - name: PORT
            valueFrom:
              configMapKeyRef:
                name: notes-configs
                key: PORT

          - name: DB_HOST
            valueFrom:
              configMapKeyRef:
                name: notes-configs    
                key: DB_HOST

          - name: DB_USER 
            valueFrom:
              secretKeyRef:
                name: notes-secret  
                key: DB_USER

          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: notes-secret
                key: DB_PASSWORD  

          - name: DB_NAME 
            valueFrom:
              configMapKeyRef:
                name: notes-configs    
                key: DB_NAME

          - name: DB_PORT
            valueFrom:
              configMapKeyRef:
                name: notes-configs
                key: DB_PORT
                

          - name: NODE_ENV
            valueFrom:
              configMapKeyRef:
                name: notes-configs    
                key: NODE_ENV


          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: notes-secret
                key: JWT_SECRET


        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 20
          periodSeconds: 15

        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 10

