apiVersion: apps/v1
kind: Deployment

metadata:
  name: notes-client
  namespace: notes-app 

spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-client
  template:
    metadata:
      labels:
        app: notes-client
    spec:
      containers:
      - name: notes-client
        image: faizanqureshi1220/notes-clinet:v1   
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        ports:
        - containerPort: 80
          name: http 

        livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
 