- name: Configure DB & Monitoring Node
  hosts: db_node
  become: true
  gather_facts: false

  tasks:

    - name: update apt cache
      apt: 
        update_cache: yes


    - name: Install MYSQL
      apt: 
        name: mysql-server
        state: present

    - name: Enable and Start MYSQL
      systemd: 
        name: mysql
        enabled: true
        state: started

    - name: Install Python MySQL driver (PyMySQL)
      apt:
        name: python3-pymysql
        state: present

    - name: Secure MySQL
      mysql_user:
        name: notesuser
        password: Passw0rd
        priv: '*.*:ALL'
        host: '%'
        state: present
        login_user: root
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Create application database
      mysql_db:
        name: notes_app
        state: present
        login_user: root
        login_unix_socket: /var/run/mysqld/mysqld.sock