apiVersion: networking.k8s.io/v1
kind: Ingress

metadata:
  name: notes-ingress
  namespace: notes-app
  annotations:
    kubernetes.io/ingress.class: traefik
    
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: notes-client
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: notes-server
                port:
                  number: 5000
