name: Complete CI-CD Pipeline

on: 
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo 
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v4
        with:
          context: ./Application/Server
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/notes-server:${{ github.sha }}

      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v4
        with:
          context: ./Application/Client
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/notes-client:${{ github.sha }}


  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ubuntu
          key: ${{ secrets.REMOTE_SSH_KEY }}
          timeout: 120s
          command_timeout: 10m
          script: |

            set -e
            export KUBECONFIG=/home/ubuntu/.kube/config

            cd ~
            if [ ! -d Notes-Application-End-to-End-Devops ]; then
              git clone https://github.com/FaizanQureshi1220/Notes-Application-End-to-End-Devops.git
            fi
            cd Notes-Application-End-to-End-Devops
            git pull origin main

            kubectl apply -f "Kubernetes Manifest/namespace.yml"
            kubectl get namespace notes-app || kubectl create namespace notes-app
            kubectl apply -f "Kubernetes Manifest/configmap.yml"

            kubectl create secret generic notes-secret \
              --from-literal=DB_USER=${{ secrets.DB_USER }} \
              --from-literal=DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
              --from-literal=JWT_SECRET=${{ secrets.JWT_SECRET }} \
              --dry-run=client -o yaml | kubectl apply -n notes-app -f -

            kubectl apply -f "Kubernetes Manifest/server"
            kubectl apply -f "Kubernetes Manifest/client"
            kubectl apply -f "Kubernetes Manifest/ingress.yml"

            kubectl set image deployment/notes-server \
              notes-server=${{ secrets.DOCKERHUB_USERNAME }}/notes-server:${{ github.sha }} \
              -n notes-app 

            kubectl set image deployment/notes-client \
              notes-client=${{ secrets.DOCKERHUB_USERNAME }}/notes-client:${{ github.sha }} \
              -n notes-app 

            kubectl rollout status deployment/notes-server -n notes-app
            kubectl rollout status deployment/notes-client -n notes-app

            kubectl get pods -n notes-app
            kubectl get svc -n notes-app
            kubectl get ingress -n notes-app

            kubectl apply -k https://github.com/kubernetes/kube-state-metrics/examples/standard
            kubectl apply -f node-exporter.yaml
            kubectl get pods -n kube-system | grep node-exporter
            kubectl apply -f kube-state-metrics-nodeport.yml




            echo "====================================="
            echo "Application deployed successfully"
            echo "Access URL: http://${{ secrets.REMOTE_HOST }}"
            echo "====================================="
